@page "/buttontest"

@using Kutuphane.Utils

<h3>@title</h3>

<div class="container">
    <div class="btn-toolbar">
        <div class="btn-group">
            <ButttonComponent Caption="ShowMessage" Icon="pencil" Color="primary" IsSmall="false" ToolTipStr="Test" OnClick="OnClikbtn" />
            <ButttonComponent Caption="ShowMessage" Icon="pencil" Color="primary" IsSmall="false" ToolTipStr="Test" OnClick="@ShowConfirmation" />
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject]   
    ModalManager ModalManager { get; set; }

    private string title = ""; 

    private async Task OnClikbtn()
    {
        await ModalManager.ShowMessageAsync("Second Modal popup page", "Kayıt silindi", 3000);
    }

    async Task ShowConfirmation()
    {
        var res = await ModalManager.ConfirmationAsync("confirmation", "are you sure thet it will be deleted?");
        if (res) title = "Yes just cliked"; else title = "No just cliked";

    }


}